In [3]:
import pandas as pd
import numpy as np

In [4]:
from pathlib import Path

In [12]:
ROOT_DIR = Path('..')
PATH2DATA = Path('../data')

In [15]:
data = pd.read_csv(PATH2DATA / 'data_analytics.csv')
data.shape

(2380, 18)

In [54]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2380 entries, 0 to 2379
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Event Date                      2380 non-null   object
 1   App Apple ID                    2380 non-null   int64
 2   Subscription Name               2380 non-null   object
 3   Standard Subscription Duration  2380 non-null   object
 4   Promotional Offer Name          0 non-null      float64
 5   Promotional Offer ID            0 non-null      float64
 6   Subscription Offer Type         1019 non-null   object
 7   Subscription Offer Duration     1019 non-null   object
 8   Marketing Opt-In Duration       0 non-null      float64
 9   Customer Currency               2380 non-null   object
 10  Proceeds Currency               2380 non-null   object
 11  Device                          2380 non-null   object
 12  Country                         2373 non-null   object
 13  Subscriber ID                   2380 non-null   int64
 14  Subscriber ID Reset             4 non-null      object
 15  Refund                          0 non-null      float64
 16  Purchase Date                   0 non-null      float64
 17  Units                           2380 non-null   int64
dtypes: float64(5), int64(3), object(10)
memory usage: 334.8+ KB

In [16]:
print('Number of unique users = %d' % len(data['Subscriber ID'].unique()))

Number of unique users = 1019

**User per date distribution:**

In [24]:
data[['Event Date']].groupby('Event Date').agg(cnt=('Event Date', len)).sort_index().head(n=10)

            cnt
Event Date
2019-07-15  148
2019-07-16  131
2019-07-17  127
2019-07-18  281
2019-07-19  140
2019-07-20  192
2019-07-22  116
2019-07-23   76
2019-07-24   49
2019-07-25   81

In [32]:
DEV_PRECEDS = 9.99 * (1 - 0.3)
DEV_PRECEDS

6.992999999999999

**Users with 'Subscriber ID Reset' = Yes**

In [46]:
sr_users = data[data['Subscriber ID Reset'].notna()][['Subscriber ID']].drop_duplicates()

In [47]:
data.merge(sr_users, on='Subscriber ID')['Subscriber ID'].unique()

array([223411322456765550, 223411322456766205])

In [48]:
data.merge(sr_users, on='Subscriber ID')

,Event Date,App Apple ID,Subscription Name,Standard Subscription Duration,Promotional Offer Name,Promotional Offer ID,Subscription Offer Type,Subscription Offer Duration,Marketing Opt-In Duration,Customer Currency,Proceeds Currency,Device,Country,Subscriber ID,Subscriber ID Reset,Refund,Purchase Date,Units
0,2019-07-15,1,weekly 9.99 + 7D trial,7 Days,NaN,NaN,Free Trial,7 Days,NaN,IDR,IDR,iPhone,ID,223411322456765550,Yes,NaN,NaN,1
1,2019-07-22,1,weekly 9.99 + 7D trial,7 Days,NaN,NaN,NaN,NaN,NaN,IDR,IDR,iPhone,ID,223411322456765550,Yes,NaN,NaN,1
2,2019-07-29,1,weekly 9.99 + 7D trial,7 Days,NaN,NaN,NaN,NaN,NaN,IDR,IDR,iPhone,ID,223411322456765550,Yes,NaN,NaN,1
3,2019-07-18,1,weekly 9.99 + 7D trial,7 Days,NaN,NaN,Free Trial,7 Days,NaN,RUB,RUB,iPhone,RU,223411322456766205,Yes,NaN,NaN,1

In [45]:
data[data['Subscriber ID'] == 223411322456765550]

,Event Date,App Apple ID,Subscription Name,Standard Subscription Duration,Promotional Offer Name,Promotional Offer ID,Subscription Offer Type,Subscription Offer Duration,Marketing Opt-In Duration,Customer Currency,Proceeds Currency,Device,Country,Subscriber ID,Subscriber ID Reset,Refund,Purchase Date,Units
86,2019-07-15,1,weekly 9.99 + 7D trial,7 Days,NaN,NaN,Free Trial,7 Days,NaN,IDR,IDR,iPhone,ID,223411322456765550,Yes,NaN,NaN,1
1105,2019-07-22,1,weekly 9.99 + 7D trial,7 Days,NaN,NaN,NaN,NaN,NaN,IDR,IDR,iPhone,ID,223411322456765550,Yes,NaN,NaN,1
1604,2019-07-29,1,weekly 9.99 + 7D trial,7 Days,NaN,NaN,NaN,NaN,NaN,IDR,IDR,iPhone,ID,223411322456765550,Yes,NaN,NaN,1

In [84]:
data[['Subscriber ID', 'Event Date']].shape, data[['Subscriber ID', 'Event Date']].drop_duplicates().shape

((2380, 2), (2380, 2))

In [60]:
users_free = data[data['Subscription Offer Type'].notna()]['Subscriber ID'].unique()
len(users_free)

1019

In [61]:
users_paid = data[data['Subscription Offer Type'].isna()]['Subscriber ID'].unique()
len(users_paid)

499

In [62]:
len(set(users_free).intersection(users_paid))

499

In [66]:
data['Device'].unique()

array(['iPhone', 'iPad'], dtype=object)

In [70]:
sum(data.groupby(['Subscriber ID', 'Event Date']).agg(cnt=('Device', len)).cnt > 1)

0

In [81]:
sum(data[['Subscriber ID', 'Device']].drop_duplicates().groupby(['Subscriber ID']).agg(cnt=('Device', len)).cnt > 1)

0

In [82]:
def ltv_iterative(df: pd.DataFrame) -> pd.DataFrame:
    pass

In [83]:
data.groupby(['Subscriber ID'])

,Event Date,App Apple ID,Subscription Name,Standard Subscription Duration,Promotional Offer Name,Promotional Offer ID,Subscription Offer Type,Subscription Offer Duration,Marketing Opt-In Duration,Customer Currency,Proceeds Currency,Device,Country,Subscriber ID,Subscriber ID Reset,Refund,Purchase Date,Units
0,2019-07-15,1,weekly 9.99 + 7D trial,7 Days,NaN,NaN,Free Trial,7 Days,NaN,IDR,IDR,iPhone,ID,223411322456765433,NaN,NaN,NaN,1
1,2019-07-15,1,weekly 9.99 + 7D trial,7 Days,NaN,NaN,Free Trial,7 Days,NaN,USD,USD,iPhone,US,223411322456765434,NaN,NaN,NaN,1
2,2019-07-15,1,weekly 9.99 + 7D trial,7 Days,NaN,NaN,Free Trial,7 Days,NaN,INR,INR,iPhone,IN,223411322456765435,NaN,NaN,NaN,1
3,2019-07-15,1,weekly 9.99 + 7D trial,7 Days,NaN,NaN,Free Trial,7 Days,NaN,GBP,GBP,iPhone,GB,223411322456765437,NaN,NaN,NaN,1
4,2019-07-15,1,weekly 9.99 + 7D trial,7 Days,NaN,NaN,Free Trial,7 Days,NaN,INR,INR,iPhone,IN,223411322456765438,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2375,2019-08-24,1,weekly 9.99 + 7D trial,7 Days,NaN,NaN,NaN,NaN,NaN,MYR,MYR,iPhone,MY,223411322456766566,NaN,NaN,NaN,1
2376,2019-08-24,1,weekly 9.99 + 7D trial,7 Days,NaN,NaN,NaN,NaN,NaN,USD,USD,iPhone,US,223411322456766569,NaN,NaN,NaN,1
2377,2019-08-24,1,weekly 9.99 + 7D trial,7 Days,NaN,NaN,NaN,NaN,NaN,INR,INR,iPhone,IN,223411322456766571,NaN,NaN,NaN,1
2378,2019-08-24,1,weekly 9.99 + 7D trial,7 Days,NaN,NaN,NaN,NaN,NaN,USD,USD,iPhone,US,223411322456766572,NaN,NaN,NaN,1
2379,2019-08-24,1,weekly 9.99 + 7D trial,7 Days,NaN,NaN,NaN,NaN,NaN,MYR,MYR,iPhone,MY,223411322456766573,NaN,NaN,NaN,1

In [86]:
data['Event Date'] = pd.to_datetime(data['Event Date'])

In [92]:
ud = data[['Subscriber ID', 'Event Date']].drop_duplicates()

In [99]:
ud['prev_value'] = ud.groupby('Subscriber ID')['Event Date'].shift()

In [102]:
ud = ud.dropna()

In [105]:
ud['diff'] = ud['Event Date'] - ud['prev_value']

<ipython-input-105-3e72dfd45732>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ud['diff'] = ud['Event Date'] - ud['prev_value']

In [126]:
ud[['diff']].drop_duplicates()

        diff
1019  7 days
1959  8 days
2041 14 days

In [138]:
data.iloc[2041]

Event Date                           2019-08-08 00:00:00
App Apple ID                                           1
Subscription Name                 weekly 9.99 + 7D trial
Standard Subscription Duration                    7 Days
Promotional Offer Name                               NaN
Promotional Offer ID                                 NaN
Subscription Offer Type                              NaN
Subscription Offer Duration                          NaN
Marketing Opt-In Duration                            NaN
Customer Currency                                    AED
Proceeds Currency                                    AED
Device                                            iPhone
Country                                               AE
Subscriber ID                         223411322456766052
Subscriber ID Reset                                  NaN
Refund                                               NaN
Purchase Date                                        NaN
Units                                                  1
prev_value                           2019-07-25 00:00:00
Name: 2041, dtype: object

In [139]:
data[data['Subscriber ID'] == 223411322456766052]

,Event Date,App Apple ID,Subscription Name,Standard Subscription Duration,Promotional Offer Name,Promotional Offer ID,Subscription Offer Type,Subscription Offer Duration,Marketing Opt-In Duration,Customer Currency,Proceeds Currency,Device,Country,Subscriber ID,Subscriber ID Reset,Refund,Purchase Date,Units,prev_value
440,2019-07-18,1,weekly 9.99 + 7D trial,7 Days,NaN,NaN,Free Trial,7 Days,NaN,AED,AED,iPhone,AE,223411322456766052,NaN,NaN,NaN,1,NaT
1294,2019-07-25,1,weekly 9.99 + 7D trial,7 Days,NaN,NaN,NaN,NaN,NaN,AED,AED,iPhone,AE,223411322456766052,NaN,NaN,NaN,1,2019-07-18
2041,2019-08-08,1,weekly 9.99 + 7D trial,7 Days,NaN,NaN,NaN,NaN,NaN,AED,AED,iPhone,AE,223411322456766052,NaN,NaN,NaN,1,2019-07-25

In [165]:
# user_reg = data[data['Subscription Offer Type'] == 'Free Trial'].groupby('Subscriber ID').agg(reg_dt=('Event Date', np.min)).rename(columns={'reg_dt': 'Event Date'})

In [162]:
# user_reg['flag'] = 1

In [164]:
# result = data.merge(user_reg, how='left', on=['Subscriber ID', 'Event Date'])

In [267]:
result = data[data['Subscription Offer Type'] != 'Free Trial']

In [268]:
result = result.pivot(index='Subscriber ID', columns='Event Date', values='Units').fillna(0)

In [269]:
purchase_per_user = pd.DataFrame(result.sum(axis=1), columns=['number_of_purchases'])

In [270]:
purchase_per_user

                    number_of_purchases
Subscriber ID
223411322456765433                  5.0
223411322456765434                  5.0
223411322456765435                  5.0
223411322456765437                  5.0
223411322456765438                  5.0
...                                 ...
223411322456766731                  1.0
223411322456766732                  1.0
223411322456766734                  1.0
223411322456766735                  1.0
223411322456766736                  1.0

[499 rows x 1 columns]

In [273]:
purchases_per_week = purchase_per_user.groupby(['number_of_purchases']).agg(cnt=('number_of_purchases', len))

In [275]:
purchases_per_week = purchases_per_week.reset_index()

In [277]:
purchases_per_week['conv'] = purchases_per_week['number_of_purchases'] * purchases_per_week['cnt']

In [279]:
(purchases_per_week['conv'] * DEV_PRECEDS).sum() / len(data['Subscriber ID'].unique())

9.340012757605495